.swal2-confirm {
  background-color: #c00 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 3px !important;
  font-weight: bold;
  transition: all 0.3s ease;
}

.swal2-confirm:hover {
  background-color: #900 !important;
  color: #fff !important;
}

.swal2-cancel {
  background-color: #555 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 3px !important;
  font-weight: bold;
  transition: all 0.3s ease;
}

.swal2-cancel:hover {
  background-color: #333 !important;
  color: #fff !important;
}
